h3{
    font-size: .9rem;
}

  button{
    height: 3rem;
    width: 10rem;
    background-color: #CFD2CF6;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #EB1D36;
    border-color: white;
    
    
  }